# compiled output
/dist
/node_modules

# Certificates / Keys
*.pem
*.key
*.csr
*.srl
*.srI

# Libs Dist and node_modules
/libs/*/node_modules
/libs/*/dist

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env

# Certificates
/src/certs/*.key

# Configuration
# /_config

# Security Lab
/docs
*.sh